body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center; //horizontally
    align-items: center; //vertically
    font-family: 'Andale', monospace;
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
}
::selection{
    color: white;
    background: #f1b963;
}

.container{
    margin-top: 250px;
    margin-bottom: 250px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px;
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
    box-shadow: 0 6px 10px rgba(0,0,0,.3);
    border-radius: 15px;
    width: 90%;
    text-align: center;
}

.heading{
    color: #222831;
    font-size: 35px;
    font-weight: 700;
}

.quote{
    color: #c3195d;
    font-size: 30px;
    font-weight: 500;
}

#quote{
    color: #393e46;
}

.author{
    color: #393e46;
    font-size: 25px;
    font-weight: 100;
    margin: 10px;
    font-style: italic;
}

.btn{
    font-size: 18px;
    font-weight: 300;
    border-radius: 10px;
    cursor: pointer;
    padding: 12px;
    margin-top: 15px;
    border: none;
    background-color:#352f44;
    color: #c06c84;
    text-transform: uppercase;
    width: 300px;
}

.btn:hover{
    background-color:#2a2438;
    color: #ff007b;
    bow-shadow: 0 4px 4px rgba(0,0,0,.3);
    transition: all 300ms ease-in-out;
}