body{
    background-image: radial-gradient( circle 732px at -23.9% -25.1%,  rgba(30,39,107,1) 6.1%, rgba(188,104,142,1) 100.2% );
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Cambria', monospace;
    margin:0;
    padding: 0;
}

.container{
    background-image: radial-gradient( circle 880px at -0.7% 57.1%,  rgba(202,149,149,1) 0%, rgba(239,215,177,1) 14.3%, rgba(239,239,177,1) 27.4%, rgba(191,239,177,1) 40.1%, rgba(177,239,217,1) 48.7%, rgba(177,238,239,1) 56.7%, rgba(177,180,239,1) 73.2%, rgba(224,177,239,1) 89.8%, rgba(239,177,231,1) 100.2% );
    color: #453953;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

.currency-container{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.currency-container select{
    padding: 10px;
    color: #83580b;
}

.currency-container input{
    border:0;
    background: transparent;
    color: #3a4750;
    font-size: 25px;
    text-align: right;
}

.exchange-rate{
    font-size: 16px;
    font-weight: 600;
}

select:focus,
input:focus{
    outline: none;
}